<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">温哥华读书会</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">主页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= events_path %>">活动</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= books_path %>">书籍</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= posts_path %>">文章</a>
      </li>
  </div>
  <% if user_signed_in? %>
  <div>
    <p>Welcome <%= current_user.email %></p>
  </div>
  <% else %>
    <div>
      <a href="<%=new_user_registration_path %>">注册</a>
    </div>
    <div><a href="<%=new_user_session_path%>">登录</a></div>
  <% end %>
  <div>
</nav>
